.containerSpinner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerMessage{
    text-align: center;
    color: rgb(155, 152, 152);
}